.container{
    position: absolute; top:0px; left:0px;
    width:100vw;height: 100vh;
    background-color: pink;
    display: flex; justify-content: center; align-items: center;
}
div img{
   width: 95vw; height: auto;
}